<div class='container'>
  <h1>Elizabeth's Brewster's Millions Ember App</h1>
  <p class='lead'>Selling intangible items for when you have to spend $30 million in 30 days, as part of the stipulations of a dead Great Uncle's will.</p>
  <hr>
  {{outlet}}
  
  <div class='text-muted'><small>This is a footer.</small></div>
</div>
