<div class='container'>
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Blerg!</a>
        <ul class="nav">
          <li>{{#link-to 'products'}}Products{{/link-to}}</li>
          <li>{{#link-to 'cart'}}Cart{{/link-to}}</li>
        </ul>
      </div>
    </div>
  <h1>Elizabeth's Brewster's Millions Ember App</h1>
  <p class='lead'>Selling intangible items for when you have to spend $30 million in 30 days, as part of the stipulations of a dead Great Uncle's will.</p>
  <hr>
  {{outlet}}
  
  <div class='text-muted'><small>This is a footer.</small></div>
</div>
