<h1>Your Cart</h1>
  <ul class='list-unstyled'>
    {{# each items }}
      <li>
        {{this.quantity}}
        {{this.product.name}}
        <button {{action 'deleteItem' this}}>Remove</button>
      </li>
    {{/ each }}
  </ul>