<div class='row'>
  <div class='col-lg-2'>
    <h4>All Products</h4>
    {{#unless hidden}}
      <button {{action "hide"}}>Hide Images</button>
      <ul class='list-unstyled'>
        {{# each }}
          <li>
            {{# link-to "products" }}
              {{ name }}
            {{/ link-to }}
          </li>
        {{/ each }}
      </ul>
    {{else}}
      <button {{action "show"}}>Show Images</button>
    {{/unless}}
  </div>
  <div class='col-lg-10'>
    Product View Goes Here
  </div>
</div>